In [17]:
import pandas as pd

#data frame
pkmn = pd.read_csv('pokemon_data.csv')

#display(pkmn)

pkmn.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [18]:
print(pkmn.columns)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [19]:
#print(pkmn[['Name', 'HP', 'Type 2']])

#print(pkmn.iloc[100, 1])

#for index , row in pkmn.iterrows():
   # print (index, row['Name'])

#not integer based:
pkmn.loc[pkmn['Type 1'] == 'Water']

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
59,54,Psyduck,Water,NaN,50,52,48,65,50,55,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
724,656,Froakie,Water,NaN,41,56,40,62,44,71,6,False
725,657,Frogadier,Water,NaN,54,63,52,83,56,97,6,False
726,658,Greninja,Water,Dark,72,95,67,103,71,122,6,False
762,692,Clauncher,Water,NaN,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,71,73,88,120,89,59,6,False

In [20]:
#pkmn.sort_values('Name', ascending=False)
pkmn.sort_values(['Type 1', 'Attack'])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
14,11,Metapod,Bug,NaN,50,20,55,25,25,30,1,False
179,165,Ledyba,Bug,Flying,40,20,30,40,80,55,2,False
733,665,Spewpa,Bug,NaN,45,22,60,27,30,29,6,False
17,14,Kakuna,Bug,Poison,45,25,50,25,25,35,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
107,99,Kingler,Water,NaN,55,130,115,50,50,75,1,False
349,319,SharpedoMega Sharpedo,Water,Dark,70,140,70,110,65,105,3,False
283,260,SwampertMega Swampert,Water,Ground,100,150,110,95,110,70,3,False
422,382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,3,True
141,130,GyaradosMega Gyarados,Water,Dark,95,155,109,70,130,81,1,False

In [21]:
#add stats together to ger a rank of the pokemon 

pkmn['Total'] = pkmn['HP'] + pkmn['Attack'] + pkmn['Defense'] + pkmn['Sp. Atk'] + pkmn['Sp. Def'] + pkmn['Speed']

pkmn.sort_values('Total', ascending=False).head(10)
#display(pkmn)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True,780
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True,780
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True,780
422,382,KyogrePrimal Kyogre,Water,NaN,100,150,90,180,160,90,3,True,770
424,383,GroudonPrimal Groudon,Ground,Fire,100,180,160,150,90,90,3,True,770
552,493,Arceus,Normal,NaN,120,120,120,120,120,120,4,True,720
712,646,KyuremWhite Kyurem,Dragon,Ice,125,120,90,170,100,95,5,True,700
711,646,KyuremBlack Kyurem,Dragon,Ice,125,170,100,120,90,95,5,True,700
409,373,SalamenceMega Salamence,Dragon,Flying,95,145,130,120,90,120,3,False,700
413,376,MetagrossMega Metagross,Steel,Psychic,80,145,150,105,110,110,3,False,700

In [22]:
pkmn = pkmn.drop(columns = ['Total'])
#display(pkmn)

pkmn['Total Stats'] = pkmn.iloc[:, 4 : 10].sum(axis=1) #axis = 1 adds them horizontally, 0 is vertically 
cols = list(pkmn.columns.values)
pkmn = pkmn[cols[0:4] + [cols[-1]]+cols[4:12]]

pkmn.head(5)

,#,Name,Type 1,Type 2,Total Stats,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [23]:
#advanced filtering of the data 
strong_grass = pkmn.loc[(pkmn['Type 1']== 'Grass') & (pkmn['Attack'] > 100)]
#drops the old index and makes a new one
strong_grass.reset_index(drop = True, inplace=True)

strong_grass

,#,Name,Type 1,Type 2,Total Stats,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
1,254,SceptileMega Sceptile,Grass,Dragon,630,70,110,75,145,85,145,3,False
2,286,Breloom,Grass,Fighting,460,60,130,80,60,60,70,3,False
3,332,Cacturne,Grass,Dark,475,70,115,60,115,60,55,3,False
4,389,Torterra,Grass,Ground,525,95,109,105,75,85,56,4,False
5,460,AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,30,4,False
6,470,Leafeon,Grass,NaN,525,65,110,130,60,65,95,4,False
7,492,ShayminSky Forme,Grass,Flying,600,100,103,75,120,75,127,4,True
8,652,Chesnaught,Grass,Fighting,530,88,107,122,74,75,64,6,False

In [24]:
#filter out names that contain mega !
# ~ removes them
no_mega = pkmn.loc[~pkmn['Name'].str.contains('Mega')]
no_mega

,#,Name,Type 1,Type 2,Total Stats,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [25]:
import re #regular expressions 

#search for pokemon that have a type1 that is only fire or steel, ignore the capitals
pkmn.loc[pkmn['Type 1'].str.contains('fire|steel', flags=re.I,regex=True)]

,#,Name,Type 1,Type 2,Total Stats,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,680,Doublade,Steel,Ghost,448,59,110,150,45,49,35,6,False
750,681,AegislashBlade Forme,Steel,Ghost,520,60,150,50,150,50,60,6,False
751,681,AegislashShield Forme,Steel,Ghost,520,60,50,150,50,150,60,6,False
777,707,Klefki,Steel,Fairy,470,57,80,91,80,87,75,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [26]:
#pokmeon that start with some letters

# ^ specifies the start of the name * specifies 0 or more chars from a-z
pkmn.loc[pkmn['Name'].str.contains('^pi[a-z]*', flags = re.I, regex = True)]

,#,Name,Type 1,Type 2,Total Stats,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False

In [27]:
#conditional changes

#all fire types are legendary now
pkmn.loc[pkmn['Type 1']=='Fire', 'Legendary'] = True
pkmn

,#,Name,Type 1,Type 2,Total Stats,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [28]:
#pkmn['Stronk'] = False
#pkmn.loc[pkmn['Total Stats'] > 500, ['Stronk']] = True
#pkmn

In [29]:
df = pd.read_csv('pokemon_data.csv')
#filtering so it is just hte numbers:

numeric_df = df.select_dtypes(include = 'number')

mean_stuff = numeric_df.groupby(df['Type 1']).mean().sort_values('Defense', ascending= False)
#mean_stuff

#counting

df['count'] = 1
df.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: count, Length: 136, dtype: int64